//TODO 1 Global styling
body {
  font-family: "Poppins", sans-serif;
  background-color: #2A2A34;
}

.page-content {
  margin-top: 100px;
  background-color: #2A2A34;
}

footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 150px;
  p {
    color: #fff;
  }
}
