.page-details{
.store-heading{
    margin-bottom: 10px;
 
    h1{
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      color: #fff;
      margin-bottom: 0px;
    }
 
    .owner{
      font-weight: normal;
      font-size:14px;
      line-height: 21px;
      color: #878787;
      margin-bottom: 8px;
    }
 
    .price{
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #F79E1B;
      margin-bottom: 10px;
    }
 
  }
  .store-description{
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    color: #fff;
  }
}